/* Empty css file that users can override in their own /assets/css/custom.css file */

img[src$='#center'] {
	display: block;
	margin: 0.7rem auto;
	
}
img[src$='#gallery'] {
	display: block;
	margin: 2rem auto;
	max-height:400px;
	max-width: 400px;
	
}
img[src$='#right'] {
	float: right;
	margin: 1.5rem;
	max-height:200px;
	max-width: 200px;
}

