/* Empty css file that users can override in their own /assets/css/custom.css file */

img[src$='#center'] {
	display: block;
	margin: 0.7rem auto;
}
img[src$='#right'] {
	float: right;
	margin: 0.7rem;
}

